<ion-header class="ion-no-border">
  <ion-toolbar class="header-section">
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button class="navigation" routerLink="/">Lupa Password</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding fixed >
  <div class="content-section">
  <img src="assets/logo.png" />
  <form>
    <p>Kami Akan mengirimkan Kode Verifikasi untuk Reset Password Anda</p>
    <ion-input type="number" placeholder="No Handphone"></ion-input>
    <center> <ion-button class="btn-kirim">Kirim </ion-button></center>
  </form>
</div>
</ion-content>
